@import '~antd/dist/antd.css';

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.login-form {
    max-width: 300px;
    margin: 150px auto;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.article-buttons {
    margin: 0 0 10px 0;
}

.article-buttons button {
    margin: 0 10px 0 0;
    float: right;
}

.rendition-container {
    background: #fff;
    padding: 10px;
    margin: 7px 6px;
    border: #d4d4d4 solid 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 2px 0 rgb(212 212 212);
}

.image-container {
    padding: 10px 8px;
    border: 1px solid #000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 2px 0 rgb(0 0 0);
}